<div class="container">
 <strong><%= current_user.email %></strong>
  <div class="row text-right">
    <%= link_to '新規作成', new_article_path, class: 'margin-top-5per btn btn-primary margin-top-5px margin-bottom-20px' %>
  </div>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-3 margin-top-5per bg-white">
        <%= link_to article do %>
          <div class="padding-top-15px">
          
          <% if article.image_id.present? %>
            <%= image_tag attachment_url(article, :image), class: 'img-responsive image_tag'%>
          <% else %>
            <%= image_tag 'pug.jpg', class: 'img-responsive image_tag'%>
          <% end %>          
            <p class="title"><%= article.title %><p>
            <p><%= l article.created_at %></p>
          </div>
        <% end %>
      </div>
    <%end %> 
  </div>
</div>